<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EAT-F by Chunderella</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="/css/notice/style.css" rel="stylesheet">
    <!-- TODO 추가 - 2 같지만 수정 -->
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- TODO 추가 - 1 -->
    <link href="/css/notice/noticeStyles.css" rel="stylesheet" />
  </head>
  <body>
    <!-------------------------------구분선-------------------------->
    <div class="b-example-divider"></div>
    <!------------------------------header------------------------------>
    <div th:replace="/common/header.html :: fragment-header"></div>
    <!-------------------------------구분선-------------------------->
    <div class="line-3"></div>
    <div class="line-3"></div>
    <!------------------------------nav------------------------------>
    <div th:replace="/common/nav.html :: fragment-nav"></div>
    <!-------------------------------구분선-------------------------->
    <div class="a-example-divider"></div>
    <!-- 부트스트랩 -->
    <!-- 부트스트랩 왼쪽 사이드바 -->
    <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">
          <a th:href="@{/my/main}" style="text-decoration-line: none; color: inherit;">마이페이지</a>
        </div>
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/my/myAuthForm}">개인 정보 수정</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/my/myPartyList}">파티게시물 관리</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/my/myFeedList}">피드게시물 관리</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="">예약 내역</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/my/myFollowList}">팔로우 관리</a>
        </div>
      </div>
      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <h2 class="mt-4 text-secondary">개인 정보 수정</h2>
          <div class="row">
            <div class="col-12">
              <!-- 개인 상세 정보 -->
              <form action="update" id="updateForm" method="post">
                <table class="table table-hover"  style="width: 700px; font-weight: 600" >
                  <tr>
                    <td>
                      <p>번호
                        <input id="memberNo" class="form-control" name='no' type='number' data-th-value="${member.no}" readonly>
                      </p>
                    </td>
                  </tr>
                  
                  <tr>
                    <td>
                     <p>아이디
                        <input name='id' class="form-control" type='email' data-th-value="${member.id}" readonly>
                      </p>
                    </td>
                  </tr>
                  
                  <tr>
                    <td>
                      <p>이름
                        <input class="form-control" name='name' type='text' data-th-value="${member.name}">
                      </p>
                    </td>
                  </tr>
                  
                  <tr>
                    <td>
                    <p>닉네임
                      <input class="form-control" id='nick' name='nick' type='text' data-th-value="${member.nick}" oninput="nickCheck()">
                      </p>
                      <span class="nick_ok" style="display: none">사용 가능한 닉네임입니다.</span>
                      <span class="nick_already" style="display: none">누군가 이 닉네임을 사용하고 있어요.</span>
                    </td>
                  </tr>
                  
                   <tr>
                    <td>
	                    <p>연락처
	                      <input class="form-control" name='tel' type='text' data-th-value="${member.tel}">
	                    </p>
                    </td>
                    </tr>
					      
					           <tr>
                      <td>
                        <p style="float: left">우편번호
									       <input class="form-control me-auto" type="text" id="sample4_postcode" name="post" placeholder="우편번호" aria-label="Add your item here..." style="width: 560px; height: 38px;" data-th-value="${member.post}">
									      </p><br>
										
		                   <p style="float: left">
										       <button type="button" class="btn btn-outline-secondary col-1" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" style="width: 120px; height: 38px;">우편번호 검색</button>
						           </p> 
					             </td>
                      </tr>
					             
					
                      <tr>
                          <td>
                            <p> 도로명주소
                                <input class="form-control me-auto" type="text" id="sample4_roadAddress" name="address" placeholder="도로명주소" aria-label="Add your item here..." data-th-value="${member.address}">
                              <input type="text" id="sample4_jibunAddress" placeholder="지번주소" hidden>
                              <span id="guide" style="color:#999;display:none" hidden></span>
                          </p>
                        </td>
                      </tr>
                
                      <tr>
                          <td>
                            <p> 상세주소
                      <input class="form-control me-auto" type="text" id="sample4_detailAddress" name="subAddr" placeholder="상세주소" aria-label="Add your item here…" data-th-value="${member.subAddr}">
                      <input type="text" id="sample4_extraAddress" placeholder="참고항목" hidden>
                        </p>
                        </td>
                      </tr>
					                  
                  <tr>
                    <td>
                     <p>관심사
                      <input class="form-control" name='interest' type='text' data-th-value="${member.interest}">
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    <p>새 비밀번호
                      <input class="form-control" id="newPassword" name='password' type='password'placeholder="새 비밀번호를 입력해주세요.">
                      </p>
                    </td>
                  </tr>
                  
                  <tr>
                    <td>
	                    <p>새 비밀번호 확인
	                      <input class="form-control" id="newPasswordCheck" name='newPasswordCheck' type='password' placeholder="새 비밀번호를 한번 더 입력해주세요.">
	                    </p>
                    </td>
                  </tr>
                  
                </table>
                <button type="button" class="btn btn-outline-secondary" id="updateBtn">수정</button>
                <button type="button" class="btn btn-outline-secondary" id="deleteBtn">회원 탈퇴</button>
              </form>
              <div class="line-2"></div>
            </div>
          </div>
          <!-- 테이블 부트스트랩 end -->
        </div>
      </div>
    </div>
    <!-------------------------------구분선-------------------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!-- Core theme JS-->
    <!-- noticeList 왼쪽 사이드바 -->
    <!-- TODO 추가 - 6-->
    <script src="/js/notice/notice.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
       
    <script>
      // 개인 정보 수정
      // 현재 패스워드를 서버와 통신해서 일치여부 확인하는 변수

      let passwordCheck = false;
      $("#updateBtn").click(function() {
        let newPassword = $("#newPassword").val(); // 새 패스워드
        let newPasswordCheck = $("#newPasswordCheck").val(); // 새 패스워드 확인

        // 새 패스워드와 새 패스워드 확인값이 일치하지 않고
        if (newPassword != newPasswordCheck){
          console.log('새 비밀번호 불일치');
            Swal.fire({
                icon: 'error',
                title: '새 비밀번호 불일치',
              });
              console.log("새 비밀번호 불일치");
        } else if (newPassword == newPasswordCheck){
         document.getElementById('updateForm').submit();
        }
      });
      
       /* 닉네임 중복체크 */

        function nickCheck() {
          var nick = $('#nick').val(); //nick값이 "nick"인 입력란의 값을 저장
          $.ajax({
            url: '/member/nickCheck', //Controller에서 요청 받을 주소
            type: 'post', //POST 방식으로 전달
            data: {nick: nick},
            success: function (cntNick) { //컨트롤러에서 넘어온 cnt값을 받는다
              if (cntNick == 0) { //cnt가 1이 아니면(=0일 경우) -> 사용 가능한 닉네임
                $('.nick_ok').css("display", "inline-block");
                $('.nick_already').css("display", "none");
              } else { // cnt가 1일 경우 -> 이미 존재하는 닉네임
                $('.nick_already').css("display", "inline-block");
                $('.nick_ok').css("display", "none");
                alert("이미 사용중임");
                $('#nick').val('');
              }
            },
            error: function () {
              alert("에러입니다");
            }
          });
        }
   
  /*    닉네임 중복체크 마지막 */

      
      // 회원 탈퇴(비활성화)
      $("#deleteBtn").click(function() {
        let memberNo = $("#memberNo").val();
          $.ajax({
            type: "post",
            url: "/my/delete",
            data: {"no": memberNo}, // 파라미터 :  파라미터 값
            success: function(result) {
              console.log(result);
              window.location.href = "/";
            }
          })
      });
  
  
        /* 우편번호 조회 */
        //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
        function sample4_execDaumPostcode() {
          new daum.Postcode({
            oncomplete: function(data) {
              // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

              // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
              // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
              var roadAddr = data.roadAddress; // 도로명 주소 변수
              var extraRoadAddr = ''; // 참고 항목 변수

              // 법정동명이 있을 경우 추가한다. (법정리는 제외)
              // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
              if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                extraRoadAddr += data.bname;
              }
              // 건물명이 있고, 공동주택일 경우 추가한다.
              if(data.buildingName !== '' && data.apartment === 'Y'){
                extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
              }
              // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
              if(extraRoadAddr !== ''){
                extraRoadAddr = ' (' + extraRoadAddr + ')';
              }

              // 우편번호와 주소 정보를 해당 필드에 넣는다.
              document.getElementById('sample4_postcode').value = data.zonecode;
              document.getElementById("sample4_roadAddress").value = roadAddr;
              document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

              // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
              if(roadAddr !== ''){
                document.getElementById("sample4_extraAddress").value = extraRoadAddr;
              } else {
                document.getElementById("sample4_extraAddress").value = '';
              }

              var guideTextBox = document.getElementById("guide");
              // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
              if(data.autoRoadAddress) {
                var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                guideTextBox.style.display = 'block';

              } else if(data.autoJibunAddress) {
                var expJibunAddr = data.autoJibunAddress;
                guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                guideTextBox.style.display = 'block';
              } else {
                guideTextBox.innerHTML = '';
                guideTextBox.style.display = 'none';
              }
            }
          }).open();
        }

    /*   주소입력 스크립트 */
    </script>
  </body>
</html>