table, th, td {
  border:1px solid #ccc;
  border-collapse: collapse;
}
th, td { 
  padding:10px 20px; 
}

div {
  border: 1px solid #222;
  padding: 20px;
  margin-bottom: 30px;
}

#container {
  background-color: #fff;
  width: 600px;
  margin: 20px auto;
  padding: 20px;
}

#description {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#package {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}


